@tailwind base;
@tailwind components;
@tailwind utilities;

.full {
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: calc(var(--vh, 1vh) * 100);
}

.shadow-ld {
  box-shadow: 0px 7px 29px rgb(0 0 0 / 35%);
}